/*animate*/
@-webkit-keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.bounceInRight {
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
}


/*specify*/

html{
	font-family: 'Montserrat', sans-serif;
	font-size: 10px;
}

a:hover{
	text-decoration: none;
}

img{
	display: block;
}

.mainscreen{
	height: 100vh;
}

p, bloquote,time, adress {
	font-family: 'Domine', serif;
	font-size: 1.5rem;
		color: #838b8c;
	line-height: 2em;
}

bloquote{
	color: #ffffff;
}

time, ul{
	margin: 0;
	padding: 0;
}

h2{
	text-transform: uppercase;
	font-weight: 700;
	font-size: 3.2rem;
	color: #343a3b;
	padding-bottom: 30px;
}

h2:before{
	content: "";
	text-transform: uppercase;
	font-weight: 500;
	font-size: 1.4rem;
	color: #898e8f;
	display: block;
}


h3{
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.8rem;
	color: #343a3b;
	padding-bottom: 35px;
}


h4{
	color:#fff;
	text-transform: uppercase;
	font-size: 1.4rem;
}
h4:after{
	display: block;
	color:#fff;
	font-size: 1.4rem;
	font-family: 'Domine', serif;
	text-transform: none;
	padding-top: 0.5em;
}




.button{
	background-color: #16d428;
	padding: 12px 27px;
	text-align: center;
	border-radius: 5rem;
	color:#fff;
	font-size: 1.4em;
	text-transform: uppercase;
	font-weight: 500;
	text-decoration: none;
	border: 3px solid #16d428;
	transition: 0.3s ease-out;
}

.button:hover{
	color: #16d428;
	text-decoration: none;
	background-color: transparent;
}

section, footer{
	padding: 100px 0;
}


.img{
	display: block;
}

/*header*/

.top{
	background-color: #262829;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.2rem ;
	color: #ffffff;
	padding: 1.5rem 0;
}

.top a{ 
	text-decoration: none;
	color: #727779;
}

.top a:hover{ 
	color: #ffac56;
}


.menu{
	background-color: #fff;
	padding: 4.5rem 0;
}
.menu__item{
	list-style-type: none;
}

.menu__item a{
	text-transform: uppercase;
	font-size: 1.4rem;
	font-weight: 500;
	text-decoration: none;
	color: #4e4e4e;
}

.menu__item a:hover{
	color: #ffac55;
}

/*banner*/

.banner{
	background: url(../img/banner_girl.jpg) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	height: calc(100vh - 18rem);
	padding: 0;
	overflow: hidden;
}


.industaty__header{
	background-color: #ffac56;
	text-transform: uppercase;
	color:#fff;
	padding: 3rem 4rem;
	width: 100%;
}
.industaty__header p{
	font-size: 1.4rem;
	color:#fff;
	font-family: 'Montserrat', sans-serif;
}
.industaty__header h1{
	font-size: 3rem;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	padding: 0;
	margin: 0;
}

.industaty li a .industry-img {
    width: 35px;
    height: 33px;
    display: block;
    margin-bottom: 7px;
}
.industaty__item a:after {
    content: "";
    background: url(../img/arrow.png) no-repeat right bottom;
    width: 26px;
    height: 26px;
    display: block;
    float: right;
    opacity:0.5;
}
.industaty__item a:after:hover{
	opacity:1;
}
.industaty__item:last-child a:after{
	display:none;
}


.industaty__item{
	display: block;
	background-color: #03b6e7;
	margin: 0;
	border: 0.5px solid #00a6d3;
	width: 50%;
	padding: 2rem 4rem;
}

.industaty li a .education-img {
    background: url(../img/icon_education.png) no-repeat center top;
}

.industaty li a .business-img {
    background: url(../img/icon_business.png) no-repeat center top;
}
.industaty li a .tecnology-img {
    background: url(../img/icon_technology.png) no-repeat center top;
}

.industaty li a .realestate-img {
    background: url(../img/icon_real_estate.png) no-repeat center top;
}

.industaty li a .banking-img {
    background: url(../img/icon_banking.png) no-repeat center top;
}



.industaty__item a{
	color:#fff;
	font-size: 1.4em;
	text-transform: uppercase;
	font-weight: 500;
	text-decoration: none;
}

.industaty__item a:before{
	background: url(../img/icon_business.png);  
	display: block;  
    height: 25px;  
    width: 25px; 
}

.industaty__item:hover{
	background-color: #00a6d3;
}

.industaty__item:hover .industaty__anc:after{
	opacity: 1;
}




/*aboutus*/
.aboutus{
	position: relative;
}
.aboutus h2:before{
	content: "What we are";
}

.aboutus__text{
	padding-bottom: 35px;
}


.badge{
		height: 28rem;
		width: 23rem;
		box-sizing: border-box;
		background-color: #03b6e7;
		border: 5px solid #fff;
		position: absolute;
		top: 75%;
		right: 25%;
		z-index:1;
		padding:2rem;
		font-family: 'Montserrat', sans-serif;
}
.badge__content{
	background: url(../img/white_strock.png) no-repeat center top;
	height: 100%;
	width: 100%;
	color:#fff;
	font-size: 1rem;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	padding-bottom: 2rem;
	font-size: 500;
	letter-spacing: 0.3rem;
	border: 0.3px solid rgba(255,255,255,0.4);
}
.badge__content span{
	font-size: 7.5rem;
	font-family: 'Montserrat', sans-serif;
	font-size: 500;
	padding: 1rem;
	letter-spacing: 0;
}
/*oursteps*/


.oursteps{
	background-color: #e7eff1;
}

.oursteps__header{
	width: 100%;
}
.oursteps h2:before{
	content:"our";
}

.oursteps__img{
	display: block;
	padding-bottom: 3rem;
	width: 6.8rem;
	height: 9.3rem;
}

.oursteps__item{
	padding-right: 4rem;
	width: 33.3%;
}


.oursteps h3:before{
	content: "";
	text-transform: uppercase;
	font-size: 2rem;
	color: #16d428;
	display: block;
	padding-bottom: 1.5rem ;
}




.oursteps__item:first-child h3:before{
	content:"01";
}

.oursteps__item:nth-child(2) h3:before{
	content:"02";
}

.oursteps__item:nth-child(3) h3:before{
	content:"03";
}

.oursteps__item p{
	line-height: 1.8em;
}




/*featureproject*/

.featuredproj h2:before
{
	content:"Featured";
}



.featuredproj .button{
	margin: 30px auto 0;
	display: block;
	color: #fff !important;
	width: 200px;
}
.featuredproj .button:hover{
	color: #16d428 !important;
}

.featuredproj__item{
	position: relative;
	overflow: hidden;
}

.featuredproj__plus{
	position: absolute;
	bottom:-2rem;
	left: -3.5rem;
	color: #fff;
	font-weight: 500;
	font-size: 1.5rem;
	text-transform: uppercase;
	transform: rotate(45deg);
	background-color: #03b6e7;
	padding: 0.5rem 4rem 3rem 4rem;	
	z-index: 1;
}

.featuredproj__item:hover .featuredproj__plus{
	background-color: #f6a149;
}

.featuredproj__label{
	text-transform: uppercase;
	position: absolute;
	top: 20px;
	left: 20px;
	border: 2px solid #ffac56 ;
	border-radius: 50px;
	color:#fff;
	font-size: 1.2rem;
	padding: 5px 0px;
	width: 100px;
	font-weight: 500;
	text-align: center;

}


.featuredproj__red{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	background-color: #ffac56;
	color:#fff;
	transition: 0.5s ease;
}
.featuredproj__item:hover .featuredproj__red{
	opacity:1;
}
.featuredproj__red h4{
	font-size: 1.8rem;
	font-weight: 700;
}

.featuredproj__red p{
	font-size: 1.5rem;
	color:#fff;
	padding: 0 10px;	
	text-align: center;
}


/*testimonials*/

.testimonials{
	background-color: #03b6e7;
}

.testimonials h2{
	color:#fff;
}

.testimonials h2:before{
	content:"Happy CLients";
	color:#fff;
}

.testimonials__q:after{
	display: block;
	width: 2em;
	content:"";
	border-bottom: 2px solid #fff;
	color:#fff;
	margin-top: 40px;
	margin-bottom: 60px;
}

.client h4:after{
	content:"Designation";
}

.client__img{
	padding-right: 3rem;
}

.tetstimonials__dots{
	color:#fff;
	font-size: 4rem;
}

.ourblog{
	background-color: #e7eff1;
	padding: 0;
	position: relative;

}

.ourblog__header{
	padding-top: 90px;
}
.ourblog h2:before{
	content:"News";
}


.ourblog__picture{
	background: url(../img/ourblog.jpg) no-repeat left top;
	-webkit-background-size: cover;
	background-size: cover;
	position: absolute;
	left: 50%;
	height: 100%;
	width: 50%;
	background-clip:border-box;

}

.ourblog__menu li{
	list-style-type:none;
	margin-right: 2rem;
	margin-top: 1.8rem;
	margin-bottom: 35px;
}

.ourblog__menu a{
	text-transform: uppercase;
	font-size: 1.2rem;
	border: 2px solid #606668;
	border-radius: 50px;
	color: #606668;
	font-weight: 700;
	width: 14rem;
	text-align: center;
	display: block;
	padding: 0.5rem 0;
}

.ourblog__menu a:hover{
	text-decoration: none;
	border: 2px solid #ffac56;
}

.artic{
	margin-bottom: 7rem;
}

.artic__time{
	color: #343a3b;
}

.artic:hover .artic__time span{
	color:#16d428;
}


.artic h3{
	margin-top: 0.5rem;
	padding-bottom: 30px;
}

/*contact us*/

.contactus__header h2:before{
	content:"for Consulting";
}

.contuctus__item{
	border: 1px solid rgba(166,168,169,0.3);
	padding: 40px;
}

.contuctus__item h3{
	margin: 0;
	padding: 0;
}
.contuctus__item a{
	margin: 0;
	padding: 0;
	font-family: 'Domine', serif;
	font-size:1.8rem ;
	color:#343a3b;
}

.contuctus__item a:hover{
	color: #ffac56; ;
}

/*footer*/

.footer{
	background-color: #262829;
}

.footer h3{
	color: #e1e1e1;
}

.footer__subscribe{
	margin-top: 4rem;

}
.footer__subscribe input:first-child{
		background-color: #323334;
		outline: none;
		border: none;
		text-transform: uppercase;
		padding: 1rem;
		padding-left: 4rem;
		width: 70%;
		border-radius: 50px;
		color:rgba(255,255,255,0.2);
		font-size: 1.6rem;
		font-weight: 500;
		border: 3px solid rgba(255,255,255,0);
}

.footer__subscribe input:last-child{
		background-color: #16d428;
		outline: none;
		border: none;
		text-transform: uppercase;
		padding: 1rem;
		width: 30%;
		border: 3px solid #16d428;
		border-radius: 50px;
		color:rgba(255,255,255);
		font-size: 1.6rem;
		margin-left: -50px;
		font-weight: 500;
		transition: 0.3s ease-out;
}

.footer__subscribe input:last-child:hover{
	background-color:#323334; 
	color:#16d428 ;
}

.footer li{
	text-transform: uppercase;
	padding-bottom: 1.5rem;
	list-style-type: none;
}

.footer a{
	color:#838b8c;
	font-weight: 500;
	font-size: 1.3rem ;
}

.footer a:hover{
	color:#ffac56;
}

.copyryting{
	color: #838b8c;
}

.copyryting:before{
	border-bottom:1px solid #838b8c;
	width: 100%;
	display: block;
	height: 90px;
	content:"";
	margin-bottom: 20px;
	opacity: 0.3;

}